#container{
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  background-color:black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: helvetica;
}

#drum-machine {

  margin-top: 2%;
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


}

.drum-pad {
  width: 30%;
  height: 30%;
  border: 2px solid white;
  border-radius: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px white;
  font-size: 200%;
}
.drum-pad:active{
  background-color:white;
  box-shadow: 0 0 0 black;
  border-color: black;
}

#display{
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  width: 10%;
  height: 5%;
  overflow: hidden;

}
